<h2>{{mainTitle}}</h2>

<ul id="message-list" data-user={{user}}>
</ul>

<input type="text" name="message" id="input-message" placeholder="Message">
<button id="send-button">Send Message</button>

<script src="/static/scripts/chat.js"></script>