<main class="p-3">
  <h2>{{mainTitle}}</h2>

  <a href="/products" class="btn btn-secondary my-3" role="button">Go back to products</a>

  <ul id="message-list" data-user={{user}}></ul>

  <input class="my-1 form-control" type="text" name="message" id="input-message" placeholder="Message">
  <button id="send-button" class="btn btn-primary my-3">Send Message</button>
</main>

<script src="/static/scripts/chat.js"></script>