<main class="p-3">
  <h2>Password recovery</h2>
  <form id="recovery_form">
    <label for="email" class="d-block">Insert your email</label>
    <input type="email" name="email" class="d-block my-3">
    <button class="btn btn-primary">Submit</button>
  </form>

  <a href='/' class='btn btn-secondary' role='button'>Go back to Login</a>
</main>

<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast align-items-center text-bg-secondary border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body">
        <p id="toast-body-message"></p>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>

<script src='/static/scripts/recovery.js'></script>
