<main class="p-3">
  <h2>Password recovery</h2>
  <form id="recovery_form">
    <label for="email" class="d-block">Insert your email</label>
    <input type="email" name="email" class="d-block my-3">
    <button class="btn btn-primary">Submit</button>
  </form>

  <a href='/' class='btn btn-secondary' role='button'>Go back to Login</a>
</main>

<script src='/static/scripts/recovery.js'></script>
