<main class="p-3">
  <h2>Set new password</h2>
  <form id="setpassword_form" data-email="{{email}}">
    <label for="password" class="d-block">Insert your new password</label>
    <input type="text" name="password" class="d-block my-3" placeholder="insert password">
    <button class="btn btn-primary">Submit</button>
  </form>

  <a href='/' class='btn btn-secondary' role='button'>Go back to Login</a>
</main>

<script src='/static/scripts/password.js'></script>